 <main>
  @if (showNewOrderMessage) {
    <div class="notification-box">
      🔔 Có đơn hàng mới!
    </div>
  }

  @if (status() === 'new') {
    <h2>New Order</h2>
  } @else {
    <h2>Completed Order</h2>
  }

  <div class="grid-container">
    @for (order of filteredOrdersForGrid; track order.orderId) {
      <div class="order-card"
           [class.active]="activeOrderId === order.orderId"
           (click)="toggleOrder(order.orderId)">

        <div class="card-header">
          <div class="table-number">Bàn {{ order.tableNumber }}</div>
          <div class="time-info">
            <span>{{ order.createdAt | date: 'HH:mm' }}</span>
            <span class="customer-name">Customer Name : {{ order.customerName || 'Khách' }}</span>
          </div>
        </div>

        @if (activeOrderId === order.orderId) {
          <div class="card-body" (click)="$event.stopPropagation()">
            <hr>
            <div class="items-list">
              @for (detail of order.orderDetails; track $index) {
                @for (item of detail.items; track $index) {
                  <div class="item-row">
                    <span class="qty">{{ item.quantity }}x</span>
                    <span class="name">{{ getProductName(item) }}</span>
                  </div>
                }
              }
            </div>

            @if (order.note) {
              <div class="note">Note: {{ order.note }}</div>
            }

            @if (status() === 'new') {
              <button class="done-btn" (click)="markDone(order, $event)">
                Hoàn tất
              </button>
            }
          </div>
        }
      </div>
    } @empty {
      <div class="empty-state">Hiện không có đơn hàng nào.</div>
    }
  </div>
</main>
