<header>
  <a [routerLink]="['/home']"><h1 class="logo"><strong>CAFIORA</strong></h1></a>
  <nav>
    <ul>
      <li>
        <a routerLink="/cashier/edit-drink" routerLinkActive="active">
          <i class="fa-solid fa-cocktail"></i>
          <span>Manage Drinks</span>
        </a>
      </li>
      <li>
        <a routerLink="/cashier/manage-staff" routerLinkActive="active">
          <i class="fa-solid fa-users"></i>
          <span>Manage Staff</span>
        </a>
      </li>
      <li>
        <a routerLink="/register" routerLinkActive="active">
          <i class="fa-solid fa-user-plus"></i>
          <span>Create Account</span>
        </a>
      </li>
      <li>
        <a routerLink="/cashier/view-revenue" routerLinkActive="active">
          <i class="fa-solid fa-chart-simple"></i>
          <span>View Revenue</span>
        </a>
      </li>
      <li>
        <a routerLink="/cashier/print-invoice" routerLinkActive="active">
          <i class="fa-solid fa-print"></i>
          <span>Print Invoice</span>
        </a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
