<div class="sort-controls">
  <!-- Ô tìm kiếm -->
  <div class="control-item search-box">
    <label>Tìm thức uống:</label>
    <input
      type="text"
      [(ngModel)]="searchKeyword"
      (input)="filterProducts()"
      placeholder="Ameriacano, Latte, Trà sữa..."
    />
  </div>

  <!-- Lọc loại -->
  <div class="control-item">
    <label>Loại:</label>
    <select [(ngModel)]="selectedCategory" (change)="filterProducts()">
      <option value="">Tất cả</option>
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>
  </div>

  <!-- Sort giá -->
  <div class="control-item">
    <label>Giá:</label>
    <select [(ngModel)]="selectedPriceSort" (change)="filterProducts()">
      <option value="">Mặc định</option>
      <option value="asc">Thấp → Cao</option>
      <option value="desc">Cao → Thấp</option>
    </select>
  </div>

</div>


<div *ngIf="loading" class="loading-state">
  <p>Đang tải thực đơn...</p>
</div>

<div *ngIf="error" class="error-state">
  <p>{{ error }}</p>
</div>

<div *ngIf="!loading && !error" class="menu-wrapper">

  <div class="product-grid">
    <div class="product-card" *ngFor="let p of filteredProducts" (click)="selectProduct(p)">
      <div class="image-box">
        <img [src]="p.urlImage" [alt]="p.nameProduct" (error)="onImgError($event)">
      </div>
      <div class="card-body">
        <h3 class="product-name">{{ p.nameProduct }}</h3>
        <p class="price">{{ p.price | number:'1.0-0' }} ₫</p>
        <span class="badge" [class.available]="p.status" [class.soldout]="!p.status">
          {{ p.status ? 'Còn bán' : 'Hết hàng' }}
        </span>
      </div>
    </div>
  </div>
</div>
